<a href="https://colab.research.google.com/github/ea-Mitsuoka/ionicons/blob/master/bqml_recommend_anime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
```
Copyright 2019 Google LLC

Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at

https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.
```
---

# Matrix Factorization デモ

BigQuery ML は Matrix Factorization を alpha 機能として追加しました。これは一般的に、商品、映画、アプリなどの推薦システムに使用される行列分解の手法で、一種の協調フィルタリングアルゴリズムです。 協調フィルタリングは、目に見えないアイテムのうちどれがユーザーにとって関心があるかを予測するため、ユーザーの既存のアイテム評価から学習を行います。
詳細はこちらの[ブログ](https://medium.com/google-cloud-jp/bigqueryml-recommendation-3c6cbc2f64ea)も参照ください。

In [ ]:
import pandas as pd
import numpy as np
import sys
from google.cloud import bigquery
from google.colab import auth
auth.authenticate_user()
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#@title プロジェクト変数の設定 { run: "auto", display-mode: "form" }
project_id = '' #@param {type:"string"}
#dataset_name = "cycle" #@param {type:"string"}
#eval_name = model_name + "_eval"
client = bigquery.Client(project=project_id)

ここでは、[Anime Recommendations Database](https://www.kaggle.com/CooperUnion/anime-recommendations-database/downloads/anime-recommendations-database.zip/1) のサンプルデータを使って Recommendation モデルを作成してみます。

## モデル作成

入力データにはユーザー、アイテム、評価の3列を必要とします。が含まれます。また、以下のような固有のモデルオプションがあります。

* num_factors（INT）：ユーザー項目の潜在的な要素の数。デフォルトでは、round（log_2（num_rows））に設定されています。最大num_factorsは200です。
* user_col（STRING）：ユーザーID
* item_col（STRING）：商品ID
* rating_col（STRING）：ユーザーごとのアイテムへの評価。任意の数値型にすることができます。

さらに、以下を除くすべてのモデルオプションがサポートされています。
* L1_REG
* INPUT_LABEL_COLS
* CLASS_WEIGHTS
* AUTO_CLASS_WEIGHTS
* NUM_CLUSTERS
* DISTANCE_TYPE

「Model is too large (>100MB)」エラーが発生した場合、入力データを確認してください。これは、単一ユーザーまたは単一アイテムに対して評価が多すぎることが原因です。ユーザーまたはアイテムの列をINT64にハッシュするか、データサイズを小さくして対処します。

In [ ]:
query = """
CREATE OR REPLACE MODEL anime.recommend
OPTIONS (model_type='matrix_factorization', user_col='user_id', item_col='anime_id',rating_col='rating', l2_reg=9.83, num_factors=40) AS 
SELECT *
FROM anime.data_clean
--WHERE anime_id in
--(SELECT anime_id FROM anime.anime where members >10000)
"""
df = client.query(query).to_dataframe()
df

## トレーニング情報、モデル評価
モデルに対して、ML.TRAINING_INFOは以下を返します。
* Training_run
* Iteration
* Duration_ms
* Loss（トレーニングデータの損失）
* Eval_loss（テストデータの損失）

このステートメントをモデルのトレーニング中に実行して、最新のiterationまでの統計を取得できます。 統計は、BigQuery UIのモデル詳細にも表示されます。

In [ ]:
query = """
SELECT * FROM ML.TRAINING_INFO(MODEL anime.recommend)
"""
df = client.query(query).to_dataframe()
df

   training_run  iteration       loss   eval_loss  duration_ms
0             0          2   1.104536    1.416501       137219
1             0          1   1.391246    1.473982       625158
2             0          0  56.235097  844.675661       747287

ML.EVALUATEは、線形回帰モデルのML.EVALUATEと同じメトリックを返します。
メトリックは、ml.EVALUATEで指定された入力データに基づいて計算されます。

In [ ]:
query = """
SELECT * from ML.EVALUATE(MODEL anime.recommend)
"""
df = client.query(query).to_dataframe()
df

   mean_absolute_error  mean_squared_error  ...  r2_score  explained_variance
0             0.887628            1.416501  ...  0.430176            0.430176

[1 rows x 6 columns]

## 予測
特定のユーザーとアイテムのペアに関連付けられた評価を表示するには、モデル名と共にML.PREDICTを使用します。 出力は、各ユーザーとアイテムのペアの評価を返します。

In [ ]:
query = """
SELECT *
FROM ML.PREDICT(MODEL anime.recommend, (
  SELECT * FROM anime.data_clean LIMIT 5
  ))
"""
df = client.query(query).to_dataframe()
df

   predicted_rating  user_id  anime_id  rating
0          7.276951     7670      4188       7
1          7.550864     7670      4454       7
2          6.658817     7670      5484       7
3          7.402746     7670      5923       7
4          6.144292     7670      6201       7

## レコメンデーション
ML.RECOMMENDは、ユーザーとアイテムのペアごとに評価を生成します。
この結果ははかなり大きな出力になる可能性があるため、出力はテーブルに保存してから分析のために他のクエリで使用することをお勧めします。

In [ ]:
query = """
#自分と好みが似ているユーザー
SELECT d.user_id, count(a.name)
FROM anime.data_clean d,anime.anime a
WHERE a.anime_id=d.anime_id
AND d.user_id in (
SELECT user_id
FROM anime.data_clean d
WHERE anime_id in (1,513,523,3572,9253,9756,10721,15227,11757)
GROUP BY d.user_id
HAVING count(anime_id) > 7
--ORDER BY 2 desc
)
GROUP BY 1
ORDER BY 2 ASC
"""
df = client.query(query).to_dataframe()
df

    user_id   f0_
0     22243   143
1      4391   164
2     66819   219
3     54327   225
4      1811   228
5     57987   243
6     19241   262
7     44474   265
8     24890   285
9     13362   290
10    49787   305
11    24817   308
12    25470   315
13    53584   326
14    52527   360
15    11316   365
16    26568   379
17    28453   406
18    25114   408
19    67895   411
20    66952   426
21    65206   434
22     6100   443
23    58473   446
24    66147   450
25    51674   458
26    34498   462
27    57995   467
28    26836   470
29    24152   487
..      ...   ...
57     5584   943
58     7670   951
59    54800   956
60    53982   977
61    57479   980
62    23631   990
63    50644  1002
64     8006  1032
65    61409  1079
66     8149  1132
67    53401  1153
68    58438  1161
69    16362  1173
70     7114  1227
71    17095  1260
72    10796  1269
73    54539  1335
74     8115  1338
75    10419  1345
76    41878  1390
77    53494  1409
78    17033  1512
79    28521  1521
80    54713  1615
81     9032  1702
82    22434  1991
83     7345  2429
84    59643  2632
85    57620  2689
86    42635  3747

[87 rows x 2 columns]

In [ ]:
query = """
SELECT a.name,d.rating
FROM anime.data_clean d,anime.anime a
WHERE a.anime_id=d.anime_id
AND d.user_id = 22243
--GROUP BY 1
ORDER BY 2 DESC
"""
df = client.query(query).to_dataframe()
df

                                                  name  rating
0                           Suzumiya Haruhi no Yuuutsu      10
1                              Serial Experiments Lain      10
2                    Suzumiya Haruhi no Yuuutsu (2009)      10
3                                           Lucky☆Star      10
4                        Suzumiya Haruhi no Shoushitsu      10
5          Lucky☆Star: Original na Visual to Animation      10
6                             Kaze no Tani no Nausicaä      10
7                                     Tonari no Totoro       9
8                                          Summer Wars       9
9                            Full Metal Panic? Fumoffu       9
10                                     Mousou Dairinin       9
11             xxxHOLiC Movie: Manatsu no Yoru no Yume       9
12                                            xxxHOLiC       9
13   Clannad: After Story - Mou Hitotsu no Sekai, K...       9
14           Clannad: Mou Hitotsu no Sekai, Tomoyo-hen       9
15                             Toaru Kagaku no Railgun       9
16                                   Full Metal Panic!       9
17                               Toki wo Kakeru Shoujo       9
18   Toaru Kagaku no Railgun: Misaka-san wa Ima Chu...       9
19                                        Cowboy Bebop       9
20                              Tenkuu no Shiro Laputa       9
21                                        xxxHOLiC Kei       9
22                     Code Geass: Hangyaku no Lelouch       9
23             Ghost in the Shell: Stand Alone Complex       9
24                                         Steins;Gate       9
25                           Toaru Kagaku no Railgun S       9
26                                  Ghost in the Shell       9
27                                      Bakemonogatari       9
28                     Cowboy Bebop: Tengoku no Tobira       8
29                   Full Metal Panic! The Second Raid       8
..                                                 ...     ...
113                                               FLCL       7
114                              Great Teacher Onizuka       7
115                            Nagagutsu wo Haita Neko       7
116              Zero no Tsukaima: Princesses no Rondo       7
117      Darker than Black: Kuro no Keiyakusha Special       7
118                       Boku wa Tomodachi ga Sukunai       7
119               Zero no Tsukaima: Futatsuki no Kishi       7
120                                       Angel Beats!       7
121    Ghost in the Shell: Arise - Border:1 Ghost Pain       7
122                           Rosario to Vampire Capu2       6
123                                         ChäoS;HEAd       6
124            Higashi no Eden Movie II: Paradise Lost       6
125                                       Kuroshitsuji       6
126                                    Higashi no Eden       6
127                                       Guilty Crown       6
128         Toaru Majutsu no Index: Endymion no Kiseki       6
129                                    Itazura na Kiss       6
130          Higashi no Eden Movie I: The King of Eden       6
131                                    Kuroshitsuji II       6
132                                   Mouretsu Pirates       6
133                           Kyoukaisenjou no Horizon       6
134                             El Cazador de la Bruja       6
135                                 Soratobu Yuureisen       6
136                                 Rosario to Vampire       6
137                                          Macross F       6
138                          Phi Brain: Kami no Puzzle       6
139                                         Jormungand       6
140                                    Murder Princess       5
141                                       Code:Breaker       5
142                                 Vividred Operation       4

[143 rows x 2 columns]

In [ ]:
query = """
SELECT a.name,r.predicted_rating
 FROM ML.RECOMMEND(MODEL anime.recommend) r
 ,anime.anime a 
 WHERE a.anime_id=r.anime_id 
 AND r.user_id=22243
 ORDER BY predicted_rating desc
"""
df = client.query(query).to_dataframe()
df

                                                   name  predicted_rating
0                                  Ginga Eiyuu Densetsu          9.496288
1                                        Kimi no Na wa.          9.171726
2                                           Steins;Gate          9.163599
3                                              Gintama°          9.040414
4                                     Hellsing Ultimate          8.948962
5                                              Mushishi          8.939329
6            Steins;Gate Movie: Fuka Ryouiki no Déjà vu          8.929245
7                                               Gintama          8.910870
8                      Fullmetal Alchemist: Brotherhood          8.905807
9     Rurouni Kenshin: Meiji Kenkaku Romantan - Tsui...          8.903969
10    Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...          8.901572
11                             Gintama&#039;: Enchousen          8.893714
12                               Hunter x Hunter (2011)          8.888634
13                                        Gintama&#039;          8.887472
14                                         Cowboy Bebop          8.850900
15                                              Monster          8.843089
16    Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...          8.808340
17                             Uchuu Senkan Yamato 2199          8.793930
18                         Ookami Kodomo no Ame to Yuki          8.790421
19                     Monogatari Series: Second Season          8.785030
20                                        Uchuu Kyoudai          8.776690
21                             Kaze no Tani no Nausicaä          8.774051
22              Rurouni Kenshin: Meiji Kenkaku Romantan          8.764621
23                                   Mushishi Zoku Shou          8.759283
24                        Mushishi Zoku Shou 2nd Season          8.748937
25                                  Bakuman. 3rd Season          8.743008
26                        Suzumiya Haruhi no Shoushitsu          8.729259
27                         Mushishi Special: Hihamukage          8.726086
28                                        Mononoke Hime          8.705393
29                Steins;Gate: Oukoubakko no Poriomania          8.704905
...                                                 ...               ...
9893            Issho ni Training: Training with Hinako          5.110448
9894                                           Glasslip          5.108722
9895              Ame-iro Cocoa: Rainy Color e Youkoso!          5.089973
9896                                     Vampire Sensou          5.078971
9897                              Diabolik Lovers Recap          5.077524
9898                                             Tekken          5.068117
9899                                    Bikini Warriors          5.060652
9900                    Zettai Shougeki: Platonic Heart          5.038429
9901            Issho ni Sleeping: Sleeping with Hinako          5.028847
9902                                      Legend of Duo          5.017841
9903                             Osakana wa Ami no Naka          4.906383
9904          Byston Well Monogatari: Garzey no Tsubasa          4.860621
9905                                   Makura no Danshi          4.826079
9906          Shuranosuke Zanmaken: Shikamamon no Otoko          4.817030
9907                   Eiken: Eikenbu yori Ai wo Komete          4.784877
9908                                Pico x CoCo x Chico          4.781861
9909                                  Ningen Doubutsuen          4.779682
9910                                        Wonder Momo          4.768789
9911                                      Ame-iro Cocoa          4.715243
9912                                      Pico to Chico          4.680575
9913                                     Tenshi no Drop          4.642838
9914                                     Vampire Holmes          4.500953
9915                                       Boku no Pico          4.382469
9916                                    Diabolik Lovers          4.317099
9917                         Soujuu Senshi Psychic Wars          4.149558
9918                                               Pupa          4.007085
9919                                            Shitcom          3.404066
9920                                 Utsu Musume Sayuri          2.848530
9921                       Tenkuu Danzai Skelter+Heaven          2.636212
9922                                    Hametsu no Mars          2.513976

[9923 rows x 2 columns]